{% import 'macros/landing.twig' as landing %}
{% set bgImages = ['img/circle.png'] %}
<section class="about about-connect" id="section-about">
    {% for image in bgImages %}
        {{ landing.image({
            src: image,
            alt: "bg-#{loop.index}",
            class: "about-connect-bg about-connect-bg_#{loop.index}"
        }) }}
    {% endfor %}
    <div class="container">
        {% include 'components/common/section-header.twig' with {
            class: 'about__header section-header_white',
            background: 'свой бизнес',
            title: 'Как подключиться к IT-платформе?'
        } %}
        <div class="row about__row">
            <div class="col-12 col-sm-6 col-md-5 about-connect-content ">
                <p class="about__content">{{ content }}</p>
                <p class="about__quote">
                    Поэтому, попасть на Платформу можно  только по реферальной ссылке
                    от участника Сообщества GCG.
                </p>
                <button
                    class="btn btn_brand-1"
                    data-action="modal"
                    data-open="#modal-platform">
                    Посмотреть Платформу
                </button>
            </div>
            <div class="col-12 col-sm-6 col-md-5 about-connect-animation">
                {{ landing.image({
                    src: formPictureSrc,
                    alt: 'Сообщество единомышленников-предпринимателей из 151 страны мира.',
                    class: 'about-connect-animation__form'
                }) }}
            </div>
        </div>
        {% include 'components/common/next-button.twig' with {
            class: 'about__next',
            buttonClass: 'next-button_arrow-white'
        } %}
    </div>
    {{ landing.image({
        src: 'img/rectangle-top-section.png',
        alt: 'Мы строим',
        class: 'rectangle rectangle_top'
    }) }}
    {{ landing.image({
        src: 'img/wave.png',
        alt: 'wave',
        class: 'wave wave_bottom'
    }) }}
</section>